.button-back {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-back button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Nunito', 'Nunito Light';
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-back button:hover {
    background-color: #444444;
}