.button-back {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-back button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif; /* Use 'Nunito' as primary font family */
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-back button:hover {
    background-color: #444444; /* Darken button color on hover */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 22px; /* Decrease header font size */
    }

    main section {
        font-size: 15px; /* Decrease font size for sections */
    }

    nav.navList a {
        padding: 10px 15px; /* Adjust padding for smaller boxes */
        font-size: 14px; /* Decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 8px; /* Adjust margin between menu items */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 20px; /* Further decrease header font size */
    }

    main section {
        font-size: 14px; /* Further decrease font size for sections */
    }

    nav.navList a {
        padding: 8px 12px; /* Further adjust padding for smaller boxes */
        font-size: 12px; /* Further decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 5px; /* Further adjust margin between menu items */
    }
}