.blog-nav-section {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.blog-nav-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-nav-section li {
    margin: 5px 0;
    font-family: 'Nunito';
}

.blog-nav-section a {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #ccc;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Nunito';
}

.blog-nav-section a:hover {
    background-color: #000000; 
    color: #ffffff; 
    transform: scale(1.05);
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 22px; /* Decrease header font size */
    }

    main section {
        font-size: 15px; /* Decrease font size for sections */
    }

    nav.navList a {
        padding: 10px 15px; /* Adjust padding for smaller boxes */
        font-size: 14px; /* Decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 8px; /* Adjust margin between menu items */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 20px; /* Further decrease header font size */
    }

    main section {
        font-size: 14px; /* Further decrease font size for sections */
    }

    nav.navList a {
        padding: 8px 12px; /* Further adjust padding for smaller boxes */
        font-size: 12px; /* Further decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 5px; /* Further adjust margin between menu items */
    }
}