/* Nunito font import */
@font-face {
    font-family: 'Nunito';
    src: local('Nunito-Black'), 
         local('Nunito-Black'),
         url('../Fonts/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Light';
    src: local('Nunito-Light'), 
         local('Nunito-Light'),
         url('../Fonts/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Styling for main content */
main {
    font-family: 'Nunito Light', sans-serif;
    margin: 0 auto; /* Center the main content */
    max-width: 900px; /* Limit the width to enhance readability */
    padding: 0 20px; /* Add padding on both sides for better spacing */
}

section {
    font-weight: 400; /* Normal weight for body text */
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px; /* Space between list items */
}

p {
    font-family: 'Nunito Light', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 20px 0; /* Space below each paragraph */
}

/* Heading styles */
h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

/* Button styles */
#back-to-top {
    position: absolute;
    left: 48%;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    background-color: #000000;
    color: white;
    padding: 5px 6px;
}

