.design-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.design-nav-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.design-nav-section li {
    flex-basis: calc(33.33% - 20px);
    margin: 0;
}

.design-nav-section a {
    display: block;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.design-nav-section a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}