.design-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.design-nav-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.design-nav-section li {
    flex-basis: calc(33.33% - 20px);
    margin: 0;
}

.design-nav-section a {
    display: block;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.design-nav-section a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 22px; /* Decrease header font size */
    }

    main section {
        font-size: 15px; /* Decrease font size for sections */
    }

    nav.navList a {
        padding: 10px 15px; /* Adjust padding for smaller boxes */
        font-size: 14px; /* Decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 8px; /* Adjust margin between menu items */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 20px; /* Further decrease header font size */
    }

    main section {
        font-size: 14px; /* Further decrease font size for sections */
    }

    nav.navList a {
        padding: 8px 12px; /* Further adjust padding for smaller boxes */
        font-size: 12px; /* Further decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 5px; /* Further adjust margin between menu items */
    }
}