.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    height: 95px; /* Set height for the header */
    background-color: rgba(255, 255, 255, 0.9); /* Opaque background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.nav-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0; /* Remove default margin */
}

.nav-section li {
    margin: 0;
}

.nav-section a {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid black;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box; 
}

.nav-section a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

footer {
    background-color: white; /* Set footer background to white */
    padding: 1em; /* Space inside the footer */
    text-align: center; /* Center footer content */
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.5); /* Shadow above footer for depth */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-section a {
        padding: 15px; /* Adjusted padding for smaller screens */
        font-size: 14px; /* Decrease font size for navigation links */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .nav-section a {
        padding: 12px; /* Further adjusted padding for smaller screens */
        font-size: 12px; /* Further decrease font size for navigation links */
    }
}