/* Styling for main content */
main, section, ul, p {
    font-family: 'Nunito', 'Nunito Light', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

section {
    font-weight: 400;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

p {
    margin: 0 0 20px 0;
}

/* Heading styles */
h2, h3, h4, h5, h6 {
    font-family: 'Nunito', 'Nunito Light', sans-serif;
    font-weight: 900;
}

/* Button styles */
#back-to-top {
    position: absolute;
    left: 48%;
    font-family: 'Nunito', 'Nunito Light', sans-serif;
    font-weight: 900;
    background-color: #000000;
    color: white;
    padding: 5px 6px;
}

/* References section styles */
.references {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    background-color: #808080;
    font-family: 'Nunito', 'Nunito Light';
}

.references h2 {
    margin-top: 0;
}

.references ul {
    list-style-type: disc;
    padding-left: 20px;
}

.references li {
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 22px; /* Decrease header font size */
    }

    main section {
        font-size: 15px; /* Decrease font size for sections */
    }

    nav.navList a {
        padding: 10px 15px; /* Adjust padding for smaller boxes */
        font-size: 14px; /* Decrease font size for navigation links */
    }

    nav.navList li {
        margin: 0 8px; /* Adjust margin between menu items */
    }
}


