
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    text-align: center;
    color: #ffffff; 
    padding: 30px 0 30px; 
}

header h1 {
    font-size: 28px;
    padding: 0px 0 30px;
    margin: 0; 
    color: #000000;
}

/* Navigation styles */
nav.navList {
    padding: 20px 0; 
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    margin-bottom: 20px; 
}

nav.navList ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav.navList li {
    margin: 0 20px; /* Adjust margin between menu items */
}

nav.navList a {
    display: block;
    padding: 15px 30px; /* Increase padding for larger boxes */
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text color */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; /* Make the border radius less rounded */
    transition: background-color 0.5s, color 0.4s;
}

nav.navList a:hover {
    background-color: #000000; /* Black background on hover */
    color: #ffffff; /* White text color on hover */
}

/* Style for the current page link */
nav.navList a.current {
    background-color: #000000; /* Black background for current page */
    color: #ffffff; /* White text color for current page */
    pointer-events: none; /* Disable pointer events for current page link */
    cursor: default; /* Change cursor to default */
}

/* Footer styles */
footer {
    font-size: 12px; 
    text-align: center;
    padding: 10px; 
    background-color: #000000; 
    color: #ffffff; 
    margin-top: 20px; 
}

footer p {
    margin: 0;
}

/* Responsive image size */
figure img {
    width: 90%; 
    height: auto; 
    max-width: 90%; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    figure img {
        width: 70%; 
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    figure img {
        width: 60%; 
    }
}