/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Nunito Light', sans-serif;
    background-color: #f0f0f0; /* Set a light grey background for the entire body */
}

/* Header styles */
header {
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
    background-color: #000000; /* Header background color */
}

header h1 {
    font-size: 28px; /* Header title font size */
    padding: 0 0 30px;
    margin: 0;
    color: #ffffff;
}

/* Main content area */
main {
    padding: 40px 20px; /* Add padding inside the main content */
}

/* White box styling for sections within the main content */
main section {
    background: #ffffff; /* White background */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 5px; /* Optional: Add some border radius for rounded corners */
    font-size: 16px; /* Font size for sections */
    line-height: 1.6; /* Line height for better readability */
}

/* Footer styles */
footer {
    font-size: 12px; /* Font size for footer text */
    text-align: center;
    padding: 10px;
    background-color: #000000; /* Footer background color */
    color: #ffffff;
    margin-top: 20px;
}

/* Navigation styles */
nav.navList {
    padding: 20px 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

nav.navList ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.navList li {
    margin: 0 20px; /* Adjust margin between menu items */
}

nav.navList a {
    display: block;
    padding: 15px 30px; /* Increase padding for larger boxes */
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text color */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; /* Make the border radius less rounded */
    transition: background-color 0.5s, color 0.4s;
}

nav.navList a:hover {
    background-color: #000000; /* Black background on hover */
    color: #ffffff; /* White text color on hover */
}

/* Style for the current page link */
nav.navList a.current {
    background-color: #000000; /* Black background for current page */
    color: #ffffff; /* White text color for current page */
    pointer-events: none; /* Disable pointer events for current page link */
    cursor: default; /* Change cursor to default */
}

/* Responsive image size */
figure img {
    width: 90%;
    height: auto;
    max-width: 90%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    figure img {
        width: 70%;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    figure img {
        width: 60%;
    }
}

/* Button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px; /* Font size for buttons */
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Nunito', sans-serif;
}

.button-container button:hover {
    background-color: #808080; /* Darken button color on hover */
}

.button-container img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}