/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Nunito Light', sans-serif;
    background-color: #f0f0f0; /* Set a light grey background for the entire body */
}

/* Header styles */
header {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #ffffff; 
}

header h1 {
    font-size: 24px; 
    padding: 0 0 20px;
    margin: 0;
    color: #000000;
}

main {
    padding: 20px;
}

main section {
    background: #ffffff; 
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    font-size: 16px; 
    line-height: 1.6; 
}

/* Footer styles */
footer {
    font-size: 12px; 
    text-align: center;
    padding: 10px;
    background-color: #000000; 
    color: #ffffff;
    margin-top: 20px;
}

/* Navigation styles */
nav.navList {
    padding: 15px 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

nav.navList ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.navList li {
    margin: 0 10px; /* Adjust margin between menu items */
}

nav.navList a {
    display: block;
    padding: 12px 20px; 
    background-color: #ffffff; 
    color: #000000; 
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; 
    transition: background-color 0.5s, color 0.4s;
}

nav.navList a:hover {
    background-color: #000000; 
    color: #ffffff; 
}

nav.navList a.current {
    background-color: #000000; 
    color: #ffffff; 
    pointer-events: none; 
    cursor: default; 
}

figure img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block; /* Ensure images don't overflow */
    margin: 0 auto; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 22px; 
    }

    main section {
        font-size: 15px; 
    }

    nav.navList a {
        padding: 10px 15px;
        font-size: 14px; 
    }

    nav.navList li {
        margin: 0 8px; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px; 
    }

    main section {
        font-size: 14px; 
    }

    nav.navList a {
        padding: 8px 12px; 
        font-size: 12px;
    }

    nav.navList li {
        margin: 0 5px; 
    }
}

/* Button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-container button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px; 
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Nunito', sans-serif;
}

.button-container button:hover {
    background-color: #515050; 
}

.button-container img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

html {
    scroll-behavior: smooth;
}